<mat-toolbar color="primary">
  <div class="navbar-container">
    <!-- Left side: Home, App Title, and Language Selector -->
    <div class="navbar-left">
      <button mat-icon-button [routerLink]="homeLink" class="logo-button">
        <img src="/TMI-FullLogo-Transparent-512x512.png" alt="TMI Logo" class="tmi-logo" />
      </button>
      <span class="app-title" [transloco]="'navbar.appTitle'">TMI: Threat Modeling Improved</span>

      <!-- Language Selector -->
      <button mat-button [matMenuTriggerFor]="languageMenu" class="language-selector">
        <mat-icon>language</mat-icon>
        <span
          [transloco]="'common.language'"
          [translocoParams]="{ language: currentLanguage.localName }"
          >{{ currentLanguage.localName }}</span
        >
      </button>

      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let lang of languages" (click)="switchLanguage(lang)">
          <span [transloco]="'common.language'" [translocoParams]="{ language: lang.localName }">{{
            lang.localName
          }}</span>
        </button>
      </mat-menu>
    </div>

    <!-- Right side: Server status, User info and logout button -->
    <div class="navbar-right">
      <!-- Server connection indicator -->
      <span
        [matTooltip]="getServerStatusTooltip()"
        matTooltipPosition="below"
        matTooltipClass="multiline-tooltip"
        style="display: inline-block"
      >
        <button mat-icon-button [class]="getServerStatusIconClass()" disabled>
          <mat-icon>{{ getServerStatusIcon() }}</mat-icon>
        </button>
      </span>

      <!-- WebSocket connection indicator -->
      <span
        *ngIf="showWebSocketStatus"
        [matTooltip]="getWebSocketStatusTooltip()"
        matTooltipPosition="below"
        matTooltipClass="multiline-tooltip"
        style="display: inline-block"
      >
        <button mat-icon-button [class]="getWebSocketStatusIconClass()" disabled>
          <mat-icon fontSet="material-symbols-outlined">{{ getWebSocketStatusIcon() }}</mat-icon>
        </button>
      </span>

      <!-- User info and logout when authenticated -->
      <ng-container *ngIf="isAuthenticated">
        <button
          mat-button
          (click)="openUserPreferences()"
          (contextmenu)="openUserProfileContextMenu($event)"
          class="user-profile-button"
          [matTooltip]="userEmail"
          matTooltipPosition="below"
          [matMenuTriggerFor]="userProfileContextMenu"
          #userProfileButton
        >
          <mat-icon>person</mat-icon>
          <span>{{ username }}</span>
        </button>

        <!-- Context menu for user profile button -->
        <mat-menu #userProfileContextMenu="matMenu">
          <button mat-menu-item (click)="copyUserEmailToClipboard()" *ngIf="isDevelopmentMode">
            <mat-icon>content_copy</mat-icon>
            <span [transloco]="'navbar.copyUserEmail'">Copy User Email to Clipboard</span>
          </button>
        </mat-menu>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span [transloco]="'navbar.logoutButton'">Logout</span>
        </button>

        <!-- No additional navigation buttons needed as home button will navigate to threat models when authenticated -->
      </ng-container>
    </div>
  </div>
</mat-toolbar>
