.error-description {
  margin: 16px 0;
  font-family: var(--font-family-monospace);
  background-color: var(--color-background-lighter);
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid var(--color-error);
  overflow-wrap: break-word;
}
