.unauthorized-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px - 64px); /* Full viewport height minus header/footer */
  background-color: var(--mat-app-background-color);
}

.unauthorized-card {
  width: 500px;
  padding: 20px;
  text-align: center;
}

.centered-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.centered-actions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.error-message {
  color: var(--mat-form-field-error-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  mat-icon {
    margin-right: 5px;
  }
}
