.full-width {
  width: 100%;
}

mat-dialog-content {
  min-width: 300px;
  padding-top: 16px; // Add padding to the top of the dialog content
}

// Add margin to the form field label
.mat-mdc-form-field {
  margin-top: 8px;
}

.dialog-form {
  padding: 8px 0;
}

.form-field-container {
  margin-top: 16px;
  margin-bottom: 8px;
}
