<div class="page-container">
  <div class="title-row">
    <h1 class="page-title" i18n="@@tosTitle"></h1>
  </div>
  
  <div class="content-row">
    <p class="update-date" i18n="@@tosLastUpdated"></p>
    
    <p class="page-content" i18n="@@tosIntro"></p>
    
    <h2 i18n="@@tosSection1Title"></h2>
    <p class="page-content" i18n="@@tosSection1Content"></p>
    
    <h2 i18n="@@tosSection2Title"></h2>
    <p class="page-content" i18n="@@tosSection2Content"></p>
    
    <h2 i18n="@@tosSection3Title"></h2>
    <p class="page-content" i18n="@@tosSection3Content"></p>
    
    <h2 i18n="@@tosSection4Title"></h2>
    <p class="page-content" i18n="@@tosSection4Content"></p>
    
    <h2 i18n="@@tosSection5Title"></h2>
    <p class="page-content" i18n="@@tosSection5Content"></p>
    
    <h2 i18n="@@tosSection6Title"></h2>
    <p class="page-content" i18n="@@tosSection6Content"></p>
    
    <h2 i18n="@@tosSection7Title"></h2>
    <p class="page-content" i18n="@@tosSection7Content"></p>
    
    <h2 i18n="@@tosSection8Title"></h2>
    <p class="page-content" i18n="@@tosSection8Content"></p>
    
    <p class="page-content contact-info" i18n="@@tosContactInfo"></p>
  </div>
</div>
