<div [dir]="currentDirection" *transloco="let t" class="framework-mapping-picker-dialog">
  <h2 mat-dialog-title>{{ t('threatEditor.frameworkMappingPicker.title') }}</h2>

  <mat-dialog-content>
    <div class="options-list">
      @for (option of options; track option.name; let i = $index) {
        <div class="option-row" [class.disabled]="option.disabled">
          <mat-checkbox
            data-testid="framework-mapping-checkbox"
            [checked]="option.checked"
            [disabled]="option.disabled"
            (change)="onCheckChange(i, $event.checked)"
          >
            {{ option.name }}
          </mat-checkbox>
          @if (option.disabled && !option.checked) {
            <span class="not-applicable-hint">
              {{ t('threatEditor.frameworkMappingPicker.notApplicable') }}
            </span>
          }
        </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button data-testid="framework-mapping-cancel-button" (click)="cancel()">
      {{ t('common.cancel') }}
    </button>
    <button
      mat-raised-button
      color="primary"
      data-testid="framework-mapping-save-button"
      (click)="apply()"
    >
      {{ t('common.ok') }}
    </button>
  </mat-dialog-actions>
</div>
