<div class="collaboration-container">
  <!-- Main collaboration button with badge showing number of users when active -->
  <button
    mat-icon-button
    [color]="getCollaborationButtonColor()"
    [disabled]="!isContextReady"
    [matBadge]="collaborationUsers.length || null"
    matBadgeColor="accent"
    [matTooltip]="getCollaborationButtonTooltip()"
    (click)="openCollaborationDialog()"
  >
    <mat-icon
      fontSet="material-symbols-outlined"
      fontWeight="100"
      style="font-variation-settings: 'FILL' 0"
      [class.active]="isCollaborating"
      [class.session-available]="existingSessionAvailable && !isCollaborating"
    >
      group
    </mat-icon>
  </button>
</div>