<div class="collaboration-container">
  <!-- WebSocket Connection Status Icon -->
  <span
    [matTooltip]="getWebSocketStatusTooltip()"
    matTooltipPosition="below"
    matTooltipClass="multiline-tooltip"
    style="display: inline-block; margin-right: 8px"
  >
    <button mat-icon-button [class]="getWebSocketStatusIconClass()" disabled>
      <mat-icon fontSet="material-symbols-outlined">{{ getWebSocketStatusIcon() }}</mat-icon>
    </button>
  </span>

  <!-- Main collaboration button with badge showing number of users when active -->
  <button
    mat-icon-button
    color="primary"
    [matBadge]="isCollaborating ? collaborationUsers.length : null"
    matBadgeColor="accent"
    [matTooltip]="
      isCollaborating
        ? ('collaboration.manageCollaboration' | transloco)
        : ('collaboration.startCollaboration' | transloco)
    "
    [matMenuTriggerFor]="collaborationMenu"
  >
    <mat-icon
      fontSet="material-symbols-outlined"
      fontWeight="100"
      style="font-variation-settings: 'FILL' 0"
      [class.active]="isCollaborating"
    >
      group
    </mat-icon>
  </button>

  <!-- Collaboration menu -->
  <mat-menu #collaborationMenu="matMenu" class="collaboration-menu">
    <div class="menu-header">
      <h3>{{ 'collaboration.title' | transloco }}</h3>
    </div>

    <!-- Toggle collaboration button -->
    <div class="collaboration-action">
      <button
        mat-flat-button
        [color]="isCollaborating ? 'warn' : 'success'"
        (click)="toggleCollaboration()"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
        >
          {{ isCollaborating ? 'stop' : 'play_arrow' }}
        </mat-icon>
        <ng-container *ngIf="!isCollaborating">
          {{ 'collaboration.startCollaboration' | transloco }}
        </ng-container>
        <ng-container *ngIf="isCollaborating && isCurrentUserSessionManager()">
          {{ 'collaboration.endCollaboration' | transloco }}
        </ng-container>
        <ng-container *ngIf="isCollaborating && !isCurrentUserSessionManager()">
          {{ 'collaboration.leaveSession' | transloco }}
        </ng-container>
      </button>
    </div>

    <!-- Copy Link section (only visible when collaborating) -->
    <div *ngIf="isCollaborating" class="copy-link-section">
      <div class="copy-link-header">
        <h4>{{ 'collaboration.shareLinkHeader' | transloco }}</h4>
      </div>
      <div class="copy-link-action">
        <button mat-flat-button color="primary" (click)="copyLinkToClipboard()">
          <mat-icon fontSet="material-symbols-outlined" fontWeight="100">content_copy</mat-icon>
          {{ 'collaboration.copyLink' | transloco }}
        </button>
      </div>
    </div>

    <!-- Users list (only visible when collaborating) -->
    <div *ngIf="isCollaborating && collaborationUsers.length > 0" class="users-section">
      <div class="users-header">
        <h4>{{ 'collaboration.collaboratorsHeader' | transloco }}</h4>
      </div>
      <div class="users-list">
        <div *ngFor="let user of collaborationUsers" class="user-item">
          <div class="user-info">
            <div class="user-status" [ngClass]="getStatusColor(user.status)"></div>
            <div class="user-name">{{ user.name }}</div>
            <div class="user-permissions">
              <!-- Presenter icon -->
              <mat-icon 
                *ngIf="user.isPresenter"
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
                class="permission-icon presenter-icon"
                [matTooltip]="'collaboration.roles.presenter' | transloco"
              >
                podium
              </mat-icon>
              
              <!-- Session Manager icon -->
              <mat-icon 
                *ngIf="user.isSessionManager"
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
                class="permission-icon session-manager-icon"
                matTooltip="Session Manager"
              >
                star
              </mat-icon>
              
              <!-- Writer icon -->
              <mat-icon 
                *ngIf="user.permission === 'writer'"
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
                class="permission-icon writer-icon"
                [matTooltip]="'collaboration.roles.writer' | transloco"
              >
                edit
              </mat-icon>
              
              <!-- Reader icon -->
              <mat-icon 
                *ngIf="user.permission === 'reader'"
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
                class="permission-icon reader-icon"
                [matTooltip]="'collaboration.roles.reader' | transloco"
              >
                no_edit
              </mat-icon>
            </div>
          </div>
          <div
            class="user-actions"
            *ngIf="isCurrentUserSessionManager() && !isCurrentUser(user.id)"
          >
            <!-- Make presenter button (only for owners, for other users) -->
            <button
              mat-icon-button
              color="accent"
              *ngIf="!user.isPresenter"
              (click)="approvePresenterRequest(user.id)"
              [matTooltip]="'collaboration.makePresenter' | transloco"
            >
              <mat-icon
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
              >
                podium
              </mat-icon>
            </button>

            <!-- Remove user button (only shown to owner for other users) -->
            <button
              mat-icon-button
              color="warn"
              (click)="removeUser(user.id)"
              [matTooltip]="'collaboration.removeFromSession' | transloco"
            >
              <mat-icon
                fontSet="material-symbols-outlined"
                fontWeight="100"
                style="font-variation-settings: 'FILL' 0"
              >
                delete
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Presenter controls section (only visible when collaborating) -->
    <div *ngIf="isCollaborating" class="presenter-section">
      <div class="presenter-header">
        <h4>{{ 'collaboration.presenterHeader' | transloco }}</h4>
      </div>

      <!-- Current user presenter controls -->
      <div class="presenter-controls">
        <!-- Request presenter button (non-session-managers who aren't presenter) -->
        <button
          mat-flat-button
          color="accent"
          *ngIf="!isCurrentUserSessionManager() && !isCurrentUserPresenter()"
          (click)="requestPresenterPrivileges()"
        >
          <mat-icon fontSet="material-symbols-outlined">podium</mat-icon>
          {{ 'collaboration.requestPresenter' | transloco }}
        </button>

        <!-- Take back presenter button (session managers when someone else is presenter) -->
        <button
          mat-flat-button
          color="primary"
          *ngIf="isCurrentUserSessionManager() && currentPresenterId && !isCurrentUserPresenter()"
          (click)="takeBackPresenterPrivileges()"
        >
          <mat-icon fontSet="material-symbols-outlined">podium</mat-icon>
          {{ 'collaboration.takeBackPresenter' | transloco }}
        </button>

        <!-- Clear presenter button (session managers when they are presenter) -->
        <button
          mat-flat-button
          color="warn"
          *ngIf="isCurrentUserSessionManager() && isCurrentUserPresenter()"
          (click)="clearPresenter()"
        >
          <mat-icon fontSet="material-symbols-outlined">speaker_notes_off</mat-icon>
          {{ 'collaboration.clearPresenter' | transloco }}
        </button>

        <!-- Current presenter indicator -->
        <div *ngIf="currentPresenterId" class="current-presenter-info">
          <mat-icon class="presenter-icon">podium</mat-icon>
          <span>{{ 'collaboration.currentPresenter' | transloco }}: {{ getPresenterName() }}</span>
        </div>
      </div>
    </div>

    <!-- Pending presenter requests section (only for session managers) -->
    <div *ngIf="isCurrentUserSessionManager() && pendingPresenterRequests.length > 0" class="presenter-requests-section">
      <div class="presenter-requests-header">
        <h4>{{ 'collaboration.presenterRequests' | transloco }}</h4>
      </div>
      <div class="presenter-requests-list">
        <div *ngFor="let requestUserId of pendingPresenterRequests" class="presenter-request-item">
          <span class="request-user-name">{{ getRequestUserName(requestUserId) }}</span>
          <div class="request-actions">
            <button
              mat-icon-button
              color="accent"
              (click)="approvePresenterRequest(requestUserId)"
              [matTooltip]="'collaboration.approvePresenterRequest' | transloco"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="denyPresenterRequest(requestUserId)"
              [matTooltip]="'collaboration.denyPresenterRequest' | transloco"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-menu>
</div>
