<div class="dfd-container">
  <div class="title-row">
    <div class="title-container">
      <h1 class="page-title">
        {{ 'editor.diagramPrefix' | transloco }}
        {{ diagramName || ('editor.pageTitle' | transloco) }}
      </h1>
    </div>
    <app-dfd-collaboration></app-dfd-collaboration>
  </div>

  <div class="graph-toolbar">
    <div class="toolbar-group">
      <button
        mat-icon-button
        color="primary"
        (click)="addRandomNode('actor')"
        [matTooltip]="'editor.toolbar.tooltips.addActor' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >person</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="accent"
        (click)="addRandomNode('process')"
        [matTooltip]="'editor.toolbar.tooltips.addProcess' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >circle</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="addRandomNode('store')"
        [matTooltip]="'editor.toolbar.tooltips.addStore' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >database</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="basic"
        (click)="addRandomNode('security-boundary')"
        [matTooltip]="'editor.toolbar.tooltips.addSecurityBoundary' | transloco"
      >
        <mat-icon fontSet="material-symbols-outlined">select</mat-icon>
      </button>
      <button
        mat-icon-button
        color="basic"
        (click)="addRandomNode('textbox')"
        [matTooltip]="'editor.toolbar.tooltips.addTextbox' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >text_fields</mat-icon
        >
      </button>

      <span class="button-spacer"></span>

      <button
        mat-icon-button
        color="basic"
        (click)="deleteSelected()"
        [disabled]="!hasSelectedCells"
        [matTooltip]="'editor.toolbar.tooltips.deleteSelected' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >delete</mat-icon
        >
      </button>
    </div>

    <div class="toolbar-group">
      <button
        mat-icon-button
        (click)="undo()"
        [disabled]="!canUndo"
        [matTooltip]="'editor.toolbar.tooltips.undo' | transloco"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="redo()"
        [disabled]="!canRedo"
        [matTooltip]="'editor.toolbar.tooltips.redo' | transloco"
      >
        <mat-icon>redo</mat-icon>
      </button>

      <button
        mat-icon-button
        [disabled]="!threatModelId || !hasExactlyOneSelectedCell || selectedCellIsTextBox"
        (click)="openThreatEditor()"
        [matTooltip]="'editor.toolbar.tooltips.addThreat' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >skull</mat-icon
        >
      </button>

      <button mat-icon-button [disabled]="true" [matTooltip]="'common.save' | transloco">
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >save</mat-icon
        >
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="exportMenu"
        [matTooltip]="'editor.toolbar.tooltips.export' | transloco"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="exportDiagram('svg')">
          <span>Export as SVG</span>
        </button>
        <button mat-menu-item (click)="exportDiagram('png')">
          <span>Export as PNG</span>
        </button>
        <button mat-menu-item (click)="exportDiagram('jpeg')">
          <span>Export as JPEG</span>
        </button>
      </mat-menu>

      <button
        mat-icon-button
        (click)="closeDiagram()"
        [matTooltip]="'editor.toolbar.tooltips.close' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >close</mat-icon
        >
      </button>
    </div>
  </div>

  <div class="graph-container">
    <div #graphContainer class="x6-graph"></div>

    <!-- Cell context menu -->
    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
    >
      <button
        mat-icon-button
        [matMenuTriggerFor]="cellContextMenu"
        #contextMenuTrigger="matMenuTrigger"
      ></button>
    </div>
    <mat-menu #cellContextMenu="matMenu">
      <button mat-menu-item (click)="editCellText()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'contextMenu.editText' | transloco }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="moveForward()">
        <mat-icon>flip_to_front</mat-icon>
        <span>{{ 'contextMenu.moveForward' | transloco }}</span>
      </button>
      <button mat-menu-item (click)="moveBackward()">
        <mat-icon>flip_to_back</mat-icon>
        <span>{{ 'contextMenu.moveBackward' | transloco }}</span>
      </button>
      <button mat-menu-item (click)="moveToFront()">
        <mat-icon>vertical_align_top</mat-icon>
        <span>{{ 'contextMenu.moveToFront' | transloco }}</span>
      </button>
      <button mat-menu-item (click)="moveToBack()">
        <mat-icon>vertical_align_bottom</mat-icon>
        <span>{{ 'contextMenu.moveToBack' | transloco }}</span>
      </button>
      <button mat-menu-item (click)="addInverseConnection()" *ngIf="isRightClickedCellEdge()">
        <mat-icon>swap_horiz</mat-icon>
        <span>{{ 'contextMenu.addInverseConnection' | transloco }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="copyCellDefinition()">
        <mat-icon>content_copy</mat-icon>
        <span>{{ 'contextMenu.copyDefinitionToClipboard' | transloco }}</span>
      </button>
    </mat-menu>
  </div>
</div>
