<div class="dfd-container">
  <div class="title-row">
    <h1 class="page-title">Data Flow Diagram Editor</h1>
    <app-dfd-collaboration></app-dfd-collaboration>
  </div>

  <div class="graph-toolbar">
    <div class="toolbar-group">
      <button
        mat-icon-button
        color="primary"
        (click)="addRandomNode('actor')"
        [matTooltip]="'editor.toolbar.tooltips.addActor' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >person</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="accent"
        (click)="addRandomNode('process')"
        [matTooltip]="'editor.toolbar.tooltips.addProcess' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >circle</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="addRandomNode('store')"
        [matTooltip]="'editor.toolbar.tooltips.addStore' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >database</mat-icon
        >
      </button>
      <button
        mat-icon-button
        color="basic"
        (click)="addRandomNode('securityBoundary')"
        [matTooltip]="'editor.toolbar.tooltips.addSecurityBoundary' | transloco"
      >
        <mat-icon fontSet="material-symbols-outlined">select</mat-icon>
      </button>
      <button
        mat-icon-button
        color="basic"
        (click)="addRandomNode('textbox')"
        [matTooltip]="'editor.toolbar.tooltips.addTextbox' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >text_fields</mat-icon
        >
      </button>

      <span class="button-spacer"></span>

      <button
        mat-icon-button
        color="basic"
        (click)="deleteSelected()"
        [disabled]="!hasSelectedCells"
        [matTooltip]="'editor.toolbar.tooltips.deleteSelected' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >delete</mat-icon
        >
      </button>
    </div>

    <div class="toolbar-group">
      <button
        mat-icon-button
        (click)="undo()"
        [disabled]="!canUndo"
        [matTooltip]="'editor.toolbar.tooltips.undo' | transloco"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="redo()"
        [disabled]="!canRedo"
        [matTooltip]="'editor.toolbar.tooltips.redo' | transloco"
      >
        <mat-icon>redo</mat-icon>
      </button>

      <button
        mat-icon-button
        [disabled]="true"
        [matTooltip]="'editor.toolbar.tooltips.threats' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >skull</mat-icon
        >
      </button>

      <button mat-icon-button [disabled]="true" [matTooltip]="'common.save' | transloco">
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >save</mat-icon
        >
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="exportMenu"
        [matTooltip]="'editor.toolbar.tooltips.export' | transloco"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="exportDiagram('svg')">
          <span>Export as SVG</span>
        </button>
        <button mat-menu-item (click)="exportDiagram('png')">
          <span>Export as PNG</span>
        </button>
        <button mat-menu-item (click)="exportDiagram('jpeg')">
          <span>Export as JPEG</span>
        </button>
      </mat-menu>

      <button
        mat-icon-button
        [disabled]="true"
        [matTooltip]="'editor.toolbar.tooltips.close' | transloco"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          fontWeight="100"
          style="font-variation-settings: 'FILL' 0"
          >close</mat-icon
        >
      </button>
    </div>
  </div>

  <div class="graph-container">
    <div #graphContainer class="x6-graph"></div>
  </div>
</div>
