<div class="dfd-container">
  <div class="title-row">
    <h1 class="page-title">DFD Page</h1>
  </div>

  <div class="graph-toolbar">
    <button mat-raised-button color="primary" (click)="addRandomNode('actor')">Add Actor</button>
    <button mat-raised-button color="accent" (click)="addRandomNode('process')">Add Process</button>
    <button mat-raised-button color="warn" (click)="addRandomNode('store')">Add Store</button>
    <button mat-raised-button color="basic" (click)="addRandomNode('securityBoundary')">
      Add Security Boundary
    </button>
  </div>

  <div class="graph-container">
    <div #graphContainer class="x6-graph"></div>
  </div>
</div>
