.dialog-form {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.form-field-container {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.dialog-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 60%);
  margin: -12px 24px 8px;
  padding: 0;
  line-height: 1.4;
  font-family: 'Roboto Mono', monospace;
}
