<div class="page-container">
  <div class="title-row">
    <h1 class="page-title" i18n="@@privacyTitle"></h1>
  </div>
  
  <div class="content-row">
    <p class="update-date" i18n="@@privacyLastUpdated"></p>
    
    <p class="page-content" i18n="@@privacyIntro1"></p>
    <p class="page-content" i18n="@@privacyIntro2"></p>
    
    <h2 i18n="@@privacyDataTitle"></h2>
    <p class="page-content" i18n="@@privacyDataContent"></p>
    
    <h2 i18n="@@privacyComplianceTitle"></h2>
    <p class="page-content" i18n="@@privacyComplianceContent"></p>
    
    <h2 i18n="@@privacyChangesTitle"></h2>
    <p class="page-content" i18n="@@privacyChangesContent"></p>
    
    <h2 i18n="@@privacyContactTitle"></h2>
    <p class="page-content" i18n="@@privacyContactContent"></p>
  </div>
</div>
