.full-width {
  width: 100%;
}

.json-textarea {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-xs);
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
}

:host {
  .mat-mdc-dialog-content {
    max-height: 80vh;
    overflow: auto;
    padding-top: 20px;
  }
}
