<div class="threats-dialog">
  <h2 mat-dialog-title>{{ 'common.manageThreats' | transloco }}</h2>
  <div *ngIf="data.objectName" class="dialog-subtitle">
    {{ data.objectName }}
  </div>

  <mat-dialog-content class="dialog-content">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="threats-table" matSort>
        <!-- Severity Column -->
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'common.severity' | transloco }}
          </th>
          <td mat-cell *matCellDef="let threat">
            <span class="severity-badge" [ngClass]="getSeverityClass(threat.severity)">
              {{ 'common.severity' + threat.severity | transloco }}
            </span>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'common.description' | transloco }}
          </th>
          <td mat-cell *matCellDef="let threat">
            <div class="threat-info">
              <div class="threat-name">{{ threat.name }}</div>
              <div class="threat-description" *ngIf="threat.description">
                {{ threat.description }}
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'common.actions' | transloco }}
          </th>
          <td mat-cell *matCellDef="let threat; let i = index">
            <button
              mat-icon-button
              color="primary"
              (click)="editThreat(threat)"
              [matTooltip]="'common.edit' | transloco"
              [disabled]="data.isReadOnly"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteThreat(i)"
              [matTooltip]="'common.delete' | transloco"
              [disabled]="data.isReadOnly"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div *ngIf="!dataSource.data.length" class="no-items-message">
      {{ 'common.noThreats' | transloco }}
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button color="primary" (click)="addThreat()" [disabled]="data.isReadOnly">
      <mat-icon>add</mat-icon>
      Add {{ 'common.threats' | transloco }}
    </button>
    <button mat-raised-button color="primary" (click)="close()">
      {{ 'common.close' | transloco }}
    </button>
  </mat-dialog-actions>
</div>
