<h2 mat-dialog-title [transloco]="'admin.webhooks.hmacSecretDialog.title'">HMAC Secret</h2>
<mat-dialog-content>
  <p class="warning-text" [transloco]="'admin.webhooks.hmacSecretDialog.warning'">
    This is the only time you will be able to view this secret. Please copy it. If you lose or
    forget it, you will have to delete and re-create the webhook.
  </p>
  <div class="secret-container">
    <span class="secret-text">{{ data.secret }}</span>
    <button
      mat-icon-button
      (click)="onCopySecret()"
      [matTooltip]="'common.copyToClipboard' | transloco"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onClose()" [transloco]="'common.ok'">
    OK
  </button>
</mat-dialog-actions>
