<div class="callback-container">
  <mat-card class="callback-card">
    <mat-card-content>
      <div class="callback-content">
        <mat-spinner diameter="48"></mat-spinner>
        @if (providerName) {
          <p class="signing-in-message">
            {{ 'login.signingInWith' | transloco: { provider: providerName } }}
          </p>
        } @else {
          <p class="signing-in-message">{{ 'login.signingIn' | transloco }}</p>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
